*{
    font-family: 'Roboto', sans-serif;
}
body{
    /* background-color: white; */
    /* padding: 0;
    margin: 0; */
    height: auto; 
    background: rgb(228,181,246);
    background: linear-gradient(140deg, rgba(228,181,246,1) 0%, rgba(255,163,115,1) 67%, rgba(255,233,186,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    background-color: rgb(222, 235, 191);
    width: 48%;
    font-size: 42px;
    text-align: center;
    margin: 30px auto;
    
    box-shadow: rgba(180, 128, 128, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 8px;
    border-radius: 12px;
    color: #CF5417;
    background-color: white;
    top:25%;
    margin-top: 9%;
}
#empty{
    width: 80%;
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 320px;
    box-sizing: border-box;
    border-radius: 50px;
}
#empty>p:first-child{
    text-align: center;
    font-size: 24px;
    color: black;
    font-weight: 500;
}
#empty>p:last-child{
    width: 60%;
    font-size: 14px;
    margin: auto;
    text-align: center;
    line-height: 24px;
    font-weight: 300;
}
h1>a{
    font-family: 'Poppins', sans-serif;
    background: #CFBC42;
    background: -webkit-radial-gradient(circle farthest-side at bottom right, #CFBC42 15%, #CF5417 100%);
    background: -moz-radial-gradient(circle farthest-side at bottom right, #CFBC42 15%, #CF5417 100%);
    background: radial-gradient(circle farthest-side at bottom right, #CFBC42 15%, #CF5417 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1:hover{
    transform: scale(1.1);
}
#navbar>div>a>img{
    width: 150px;
    height: 60px;
    border-radius: 100px;
    margin-left:-50px ;
    border: none;
}
#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around; 
    /* margin: auto; */
    margin-top: -5px; 
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px 12px;
    /* border-radius: 15px; */
    box-sizing: border-box;
}
#navbar a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}

#navbar>div:last-child>a{
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}
#navbar>div:last-child{
    /* border: 1px solid; */
    padding: 12px ;
    display: grid;
    justify-content: center;
}
i{
    font-size: 28px;
    text-align: center;
    margin-bottom: -15px;
    color: rgb(53, 52, 52);
}
i:hover{
    transform: scale(1.1);
    cursor: pointer;
    /* color: rgb(180, 48, 212); */
}
span{
    font-size: 16px;
    color: #CFBC42;   
}

#navbar>div>a:hover{
    /* transform: scale(1.1); */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /* border: 1px solid white; */
    padding: 8px 20px;
    border: 1px solid grey;
}
#navbar>div:first-child>a:hover{
    /* transform: none; */
    border: none;
    box-shadow:none;
    padding: 1px;
}
#navbar>div:last-child>a:hover{
    /* transform: none; */
    border: none;
    box-shadow:none;
    padding: 1px;
    font-weight: 700;
}
#navbar>div{
    /* background-color: blue; */
    margin: auto;
}

#container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap:25px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;    
    padding: 35px;
    box-sizing: border-box;
    /* border-radius: 20px;  */
    background-color: white;
    /* background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%); */
}
#container>div{
    width:100%;
    /* border: 1px solid; */
    padding: 25px 8px;
    display: grid;
    background-color:transparent;
    /* background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */
}

#container>div:hover{
    /* transform: scale(1.05); */
    /* cursor: pointer; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
}
#container>div>img{
    width: 90%;
    /* height: auto; */
    border-radius: 10px;
    /* margin-left:-100px */
    margin: auto;
    /* margin-top: 0px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}
#container>div>img:hover{
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#container>div>h4{
    font-weight: 500;
    padding: 0px 20px;
    /* margin-top: 0px; */
}
#container>div>h4:hover{
    color: rgb(64, 64, 233);
}
.price{
    width: 95%;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    /* color: #fac25b; */
    font-weight: 600; 
    padding: 0px 20px;
    /* border: 1px solid; */
    margin-left: 5px;
    margin-top: -15px;
    box-sizing: border-box;
}
.Sprice{
    text-decoration: line-through;
    font-size: 14px;
    color: grey;
    font-weight: 400;
}
.dis{
    color: #5aa02c;
    font-size: 12px;
}
.price>button{
    padding: 8px 18px;
    color: white;
    background-color:#ff9f00; 
    border: none;
    cursor: pointer;
    font-weight: 500;
}
.price>button:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#poster{
    width:99%;
    margin:20px auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-sizing: border-box;
}
#poster>img{
    width: 50%;
}
#poster>img:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#poster>img:last-child{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#signup{

    /* background-color: white; */
    width: 100%;
    margin: auto;
    padding: 20px 0px;
    margin-top: 3%;
    box-sizing: border-box;
}
#form{
    width: 25%;
    display: grid;
    grid-template-columns: repeat(1 1fr);
    grid-template-rows: auto;
    grid-gap: 25px;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid white;
    padding-bottom:30px;
    /* padding-top: 30px; */
    margin-top: -50px;
    margin-bottom: 60px;
    background-color: white;
    /* height:82px; */
    /* margin:28px auto 0; */
    /* max-width:400px; */
    /* background-color:#fff; */
}
#form>img{
    width: 100%;
    height: auto;
}
#form>input{
    width: 80%;
    margin: auto;
    font-size: 18px;
    border-radius: 2px;
    padding: 6px 10px;
    border: 0.5px solid grey;
}
#form>input:last-child,#details>input:last-child{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #ff3f6c;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
#form>input:last-child:hover,#details>input:last-child:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#form>p{
    text-align: center;
    margin-top: -5px;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(145, 145, 145);
}
#terms{
    width: 60%;
    margin: auto;
    box-sizing: border-box;
    margin-top: 12%;
}
#terms>h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 36px;
    border-bottom: 0.5px solid;
}
#terms>p{
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
}
p>a{
    color: #ff3f6c;
    font-weight: 500;
}
#home{
    width: 100%;
    /* height: 500px; */
    display: flex;
    margin: auto;
    margin-top: 30px;
    box-sizing: border-box;
}
#home>div>img{
    width: 100%;
    height: 100%;
}
#left{
    width: 25%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    grid-gap:0px;
    box-sizing: border-box;
    justify-content: left;
}

#middle{
    width: 50%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:0px;
    grid-template-rows: auto;
    box-sizing: border-box;
}
#poster1{
    width:94%;
    margin:20px auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-sizing: border-box;
}
#poster1>img{
    width: 50%;
}
#remove2{
    width: 90%;
    margin: auto;
    /* padding: 10px; */
    background-color: white;
    /* margin: auto; */
    display: flex;
    justify-content: space-around;
    /* box-sizing: border-box; */
    border: 0.5px solid grey;
    /* padding: 10px; */
}
#container1{
    width: 55%;
    box-sizing: border-box;
    /* background-color: rgb(238, 238, 238);  */
    margin-top: 20px;
    margin-bottom: 20px;
    /* border:1px solid red; */
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: space-around;
}
#container1>div{

    box-sizing: border-box;
    /* border: 1px solid; */
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color:transparent;
    box-sizing: border-box;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */
}

#container1>div:hover{
    border-radius: 20px;
}
#container1>div>img{
    width: 30%;
    /* border: 1px solid; */
    /* height: 80%; */
    border-radius: 10px;
    /* margin: auto; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}
#container1>div>img:hover{
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#container1>div>div>h4{
    font-weight: 500;
    margin-top: 0px;
    font-size: 16px;
    text-align: left;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0px;
    /* border: 1px solid; */
}
#container1>div>h4:hover{
    color: rgb(64, 64, 233);
}
.price1{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: auto;
    align-items:baseline;
    /* justify-content: space-between;  */
    font-size: 16px;
    font-weight: 600; 
    color: rgb(56, 56, 56);

}

.price1>button{
    width: 180%;
    padding: 5px 6px;
    color: white;
    background-color:#ff9f00; 
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    /* margin-left: 100%; */
    /* margin-right: auto; */
}
.price1>button:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.cartTotal{
    width: 30%;
    height:fit-content;
    padding: 25px;
    /* border: 1px solid;     */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: grid;
    text-align: center;
    line-height: 54px;
    box-sizing: border-box;
}
.cartTotal>h2{
    /* width: 90%; */
    margin: auto;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: -15px;

}
.cartTotal>p{
    width: 90%;
    margin: auto;
    font-weight: 400;
    font-style: italic ;
    font-size: 12px;
    /* margin-bottom: 0px; */
}
.cartTotal>button{
    padding: 8px 48px;
    font-size: 18px;
    color: white;
    background-color:#ff9f00; 
    border: none;
    cursor: pointer;
    margin: auto;
    margin-top: 0px;
    border-radius: 20px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 
input[type="month"]:not(.has-value){
    color: black;
    place-content:inherit;
}
#form1>#savecard{
    color: black;
    font-size: 13px;
    font-weight: 300;
    margin-left: 5px;
    justify-self: left;
}

#form1{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid; */
    padding: 20px;
    margin-top: 8%;
}
.PH{
    margin-top: 0px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0px;
}
#form1>img{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#details{
    /* border: 1px solid red; */
    width: 40%;
    display: grid;
    grid-template-columns: repeat(1 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    box-sizing: border-box;
    padding: 30px 40px; 
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;   
}
#details>input{
    width: 90%;
    margin: auto;
    font-size: 18px;
    border-radius: 5px;
    padding: 8px 10px;
    border: 0.5px solid grey;
}
#details>p{
    margin: 5px 0px 0px 13px;
    text-align: left;
    /* padding: 0px 20px; */
    font-size: 14px;
    font-weight: 400;
    color: rgb(145, 145, 145);
}
#no{
    margin: auto;
    background: none;
}
.order{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.order>h2,.order>h2>i{
    color: orange;
    margin-top: 5%;
}
.order>p{
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 28px;
    color: grey;
}
.order>a>button{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #ff9f00;
    border: 1px  #ff9f00;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
}
.order>a>button:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#OTP{
    width: fit-content;
    margin: auto;
    margin-top: 100px;
    padding:  30px 100px 50px;
    /* padding-top: */
    /* border: 1px solid; */
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#OTP>form{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:20px
}
#OTP>form>input{
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 10px;
    border: 0.5px solid grey;
}
@media only screen and (min-width: 421px) and (max-width: 780px) {
    #container {
      grid-template-columns: repeat(2, 1fr);
    }
    h1{
        font-size: 30px;
        margin-top: 15%;
        padding: 3px 10px;
    }
    #navbar>div>a>img{
        width: 120px;
        height: 55px;
        margin-left:-20px ;
    }
    #navbar{
        padding: 5px 8px;
    }
    #navbar a{
        font-size: 16px;
    }
    #navbar>div:last-child>a{
        font-size: 12px;
    }
    i{
        font-size: 20px;
    }
    #container>div>h4{
        font-size: 14px;
    }
    .price{
        font-size: 15px;
    }
    .Sprice,.dis{
        font-size: 12px;
    }
    .price>button{
        font-size: 12px;
        padding: 5px 10px;
    }
    #form{
        width: 40%;
        margin-top: -5px;
    }
    #form>input{
        width: 80%;
        font-size: 14px;
        padding: 4px 8px;
    }
    #form>input:last-child{
        font-size: 18px;
    }
    #form>p{
        font-size: 12px;
    }
    #terms>h2{
        font-size: 30px;
    }
    #terms>p{
        font-size: 12px;
    }
    #container1>div>img{
        height:50%;
        width: 40%;
      }
    #container1>div>div>h4{
        font-size: 12px;
    }
    .price1{
        font-size: 12px;
    }
    .price1>.Sprice{
        font-size: 10px;
    }
    .price1>.dis{
        font-size: 10px;
    }
    .price1>button{
        font-size: 10px;
        padding: 6px 6px;
    }
    .cartTotal{
        line-height: 34px; 
    }
    .cartTotal>h2{
        font-size: 13px;
    }
    .cartTotal>p{
        font-size: 10px;
    }
    .cartTotal>button{
        padding:4px 12px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 50px) and (max-width: 420px) {
    #container {
        grid-template-columns: repeat(1, 1fr);
      }
      #remove2{
          width: 100%;
          padding: 10px;
      }
      #container1{
          width: 40%;
      }
      #container1>div{
          display: grid;
          grid-gap:10px;
          line-height: auto;
          justify-content: center;
          margin: auto;
      }
      #container1>div>div>h4{
          font-size: 10px;
          text-align: center;
          margin-bottom: -10px;
      }
      #container1>div>img{
        height:80%;
        width: 100%;
        margin-bottom: 10px;
      }
      .cartTotal{
        width: 55%;
        line-height: 20px;
          /* height: 140px; */

      }
      .cartTotal>h2{
          font-size: 10px;
          margin-bottom: 5px;
      }
      .cartTotal>p{
          font-size: 10px;
      }
      .cartTotal>button{
          padding: 3px 5px;
          font-size: 10px;
      }
      h1{
          font-size: 26px;
          margin-top: 25%;
          padding: 3px 10px;
      }
      #navbar>div>a>img{
          width: 80px;
          height: 100%;
          margin-left:-10px ;
      }
      #navbar{
          padding: 3px 5px;
      }
      #navbar a{
          font-size: 12px;
      }
      #navbar>div:last-child>a{
          font-size: 10px;
      }
      i{
          font-size: 14px;
      }
      #form{
          width: 70%;
          margin-top: -5px;
      }
      #form>input{
          width: 80%;
          font-size: 16px;
          padding: 4px 8px;
      }
      #form>input:last-child{
          font-size: 18px;
      }
      #form>p{
          font-size: 12px;
      }
      #term{
          margin-top: 80%;
      }
      #terms>h2{
          font-size: 24px;
      }
      #terms>p{
          font-size: 10px;
      }
      .price1{
          font-size: 12px;
          grid-template-columns:repeat(3,1fr);
          gap: 10px;
      }
      .price1>.Sprice{
          font-size: 8px;
      }
      .price1>.dis{
          font-size: 8px;
      }
      .price1>button{
          width: 200%;
          font-size: 11px;
          padding: 2px 5px;
          /* width: auto; */
      }
}
